.chatSectionHeader {
  display: flex;
  /* padding: 20px; */
  align-items: center;
  border-bottom: 1px solid lightgray;
}
.chatSectionHeader__info {
  flex: 1;
  padding-left: 20px;
}

.chatSectionHeader__info > h3 {
  margin-bottom: -16px;
  font-weight: 500;
}

.chatSectionHeader__info > p {
  color: gray;
}
